//変数　出力  $color-foundation   文字列#{}
// color  明るいlighten($color-foundation,30%) 暗いdarken
$color-text: #fff;
$color-gray:#BDBDBD;
$color-bule:rgb(18,53,98);
$color-red:#E81919;
$color: #333333;
$color-lightgray:#EFEFEF;
$color-light:#5f5f5f;
$color-light2:#707070;
